##################################
# Package creation configuration #
##################################

# Proxy configuration
export PROXY_HOST=
export PROXY_PORT=

# OCS Inventory installation directory
export OCS_INSTALL_DIR=/opt/ocsinventory

# Perl Download Link
export PERL_VERSION=5.26.1
export PERL_DL_LINK=http://www.cpan.org/src/5.0/perl-${PERL_VERSION}.tar.gz

# OCS Agent Download Link
export OCSAGENT_DL_LINK=https://github.com/OCSInventory-NG/UnixAgent/releases/download/v2.4.1/Ocsinventory-unix-agent-2.4.1.tar.gz

# Nmap download link
export NMAP_DL_LINK=https://nmap.org/dist/nmap-7.70.tgz

# Parser ini details
export PARSER_INI_PATH=${OCS_INSTALL_DIR}/perl/lib/${PERL_VERSION}/XML/SAX/ParserDetails.ini

#############################
# OCS Agent crontab options #
#############################

# Create crontab for automatic inventory
export OCS_AGENT_CRONTAB=1

# How many hours between each crontab call
export OCS_AGENT_CRONTAB_HOUR=5

#####################################
# OCS Agent execution configuration #
#####################################

# Lazy mode
export OCS_AGENT_LAZY=1

# Machine TAG
export OCS_AGENT_TAG=MYTAG

# Server url
export OCS_SERVER_URL=http://myserver/ocsinventory

# SSL activated
export OCS_SSL_ENABLED=0

# SSL certificate path on host system
export OCS_SSL_CERTIFICATE_FULL_PATH=/path/to/my/certificate

# Create log file
export OCS_LOG_FILE=1

# Log file path
export OCS_LOG_FILE_PATH=/path/to/log
