##################################
# Package creation configuration #
##################################

# Proxy configuration
export PROXY_HOST=
export PROXY_PORT=

# OCS Inventory installation directory
export OCS_INSTALL_DIR=/opt/ocsinventory

# Perl Download Link
export PERL_VERSION=5.26.0
export PERL_DL_LINK=http://www.cpan.org/src/5.0/perl-${PERL_VERSION}.tar.gz

# OCS Agent Download Link
export OCSAGENT_DL_LINK=https://github.com/OCSInventory-NG/UnixAgent/releases/download/2.3/Ocsinventory-Unix-Agent-2.3.tar.gz

# Nmap download link
export NMAP_DL_LINK=https://nmap.org/dist/nmap-7.60.tgz

# Parser ini details
export PARSER_INI_PATH=${OCS_INSTALL_DIR}/perl/lib/${PERL_VERSION}/XML/SAX/ParserDetails.ini

#####################################
# OCS Agent execution configuration #
#####################################

# Lazy mode
export OCS_AGENT_LAZY=1

# Machine TAG
export OCS_AGENT_TAG=MYTAG

# Server url
export OCS_SERVER_URL=http://myserver/ocsinventory

# SSL activated
export OCS_SSL_ENABLED=1

# SSL certificate
export OCS_SSL_CERTIFICATE_FULL_PATH=/parth/to/my/certificate

# Create log file
export OCS_LOG_FILE=1.

# Log file path
export OCS_LOG_FILE_PATH=/path/to/log
